.herosec{background-color: #ECF1F7;}
.herosec h1{
    font-family: "Roboto", sans-serif;
text-align: center;
margin-top: 40px;
margin: 50px;}

.wcu{display: flex;
gap: 50px}

.um{ margin-left: 30%;
    background-color:rgba(255, 193, 7, 0.2);
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-style: "regular";
width: 250px;
height: 360px;
border-radius: 20px;
border-bottom-right-radius: 0%;
}


.ws{
    background-color: rgba(9, 35, 64, 1);
    width: 250px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    height: 360px;
border-radius: 20px;
border-bottom-left-radius: 0%;
}


    
.cc{ margin-left: 30%;
    display: flex;
    align-items: center;
    margin-top: 35px;
    font-family: "Poppins", sans-serif; 
    background-color:rgba(255, 193, 7, 0.2);
    border-radius: 20px;
    border-top-right-radius: 0%;
    width: 555px;
    height: 502;}

    .tick{margin: 15px;
        height: 40px;
    width: 50px;}



    .gra{margin: 15px;}

    .gra1{margin: 15px;
    color: white;}
    
    .guy{background-color: #f5f9ff;
        margin-top: 0%;}


        @media (max-width:768px){
         
.wcu{gap: 20px}
    
    .um{ margin: 15px;
        font-size:9px;
        font-weight: 500;
        font-style: "regular";
    width: 150px;
    height: 250px;
    border-radius: 20px;
    border-bottom-right-radius: 0%;
    }
       
    
.ws{
    background-color: rgba(9, 35, 64, 1);
    width: 150px;
    height: 250px;
     font-weight: 500;
    font-size:9px;
    font-family: "Poppins", sans-serif;

border-radius: 20px;
border-bottom-left-radius: 0%;
}


    
.cc{ margin-left: 15%;
    display: flex;
    font-size: 9px;
    align-items: center;
    margin-top: 10px;
    border-radius: 20px;
    border-top-right-radius: 0%;
    width: 265px;
    height: 50;}

    
    .tick{margin: 10px;
        height: 30px;
    width: 40px;}

    .herosec h1{
        font-family: "Roboto", sans-serif;
    text-align: center;
    margin-top: 40px;
    border: 1px solid black;
    
    margin: 50px;}

        }